@import "tailwindcss";

@theme {
    --font-sans: "Asap", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-inter: "Inter", sans-serif;
    --color-red: #cc3333;
    --color-offwhite: #e8e9eb;
    --color-grey: #e0e0e0;
    --color-gold: #e4b363;
    --color-darkblue: #0b0e24;
    --color-navyblue: #192841;
    --animate-scale: scale 2s infinite linear;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

html,
body {
    @apply bg-offwhite font-sans text-black;
    line-height: normal;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }

    h1 {
        @apply text-3xl sm:text-5xl;
    }

    h2 {
        @apply text-2xl sm:text-4xl;
    }
}
